@* CRIAR A VIEW DE JOGADOR *@

@model Jogador

@{
    ViewData["tittle"] = "Jogador";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
    @* <link rel="stylesheet" href="~/css/reset-and-basics.css"> *@
    <link rel="stylesheet" href="~/css/Header-footer.css">
    <link rel="stylesheet" href="~/css/Jogadores.css">


</head>

@* <form method="post" action='@Url.Action("Cadastrar")'>

<label for="">Nome</label>
<input type="text" name="Nome" required>

<label for="">Email</label>
<input type="email" name="Email">

<label for="">Senha</label>
<input type="password" name="Senha">

<label for"">Equipe</label>
<select name="IdEquipe" id="IdEquipe">

<option value="0"> Selecione uma opcao:</option>

@foreach (Equipe equipe in ViewBag.Equipe)
{
<option value="@equipe.IdEquipe">@equipe.Nome</option>
}

</select>


<button type="submit">Cadastrar</button>
</form>


<table class="table table-striped table-responsive">

<thead>
<th>Id</th>
<th>Nome</th>
<th>Imagem</th>
<th>Equipe</th>
</thead>

<tbody>

@foreach (Jogador jogador in ViewBag.Jogador)
{
<tr>

<td>@jogador.IdJogador</td>
<td>@jogador.Nome</td>
<td>@jogador.Email</td>
<td>@jogador.IdEquipe</td>

<td>
<img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da Equipe @jogador.Equipe.Nome" width="50px">
</td>

<td>
<a asp-area="" asp-controller="Jogador" asp-action="Excluir"
asp-route-id="@jogador.IdJogador">Excluir</a>
</td>

<td>
<a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador">Editar</a>
</td>
</tr>
}


</tbody>
</table> *@








<!-- MAIN -->
<main>

    <section class="container-grid cadastro-equipes">
        @if (ViewBag.Username == null)
        {
            <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="index">Login</a>
        }

        else
        {
            <form class="frm-cad-equipe" method="post" action='@Url.Action("Cadastrar")'>
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                <select class="campo-entrada" id="equipe-select" name="IdEquipe" id="IdEquipe">
                    <option value="0"> Selecione uma opcao:</option>

                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                        <option value="@equipe.IdEquipe">@equipe.Nome</option>
                    }

                </select>

                <input class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:"
                    name="Nome" required>

                <input class="campo-entrada" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:"
                    name="Email">

                <input class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:" name="Senha">
                <button type="submit">Cadastrar</button>




            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Acoes</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Jogador jogador in ViewBag.Jogador)
                    {


                        <tr>

                            <td>@jogador.IdJogador</td>
                            <td>@jogador.Nome</td>
                            <td>@jogador.Email</td>
                            <td>@jogador.IdEquipe</td>
                            <td>
                                <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador">

                                    <img class="yellow-trash" src="~/assets/trash.png" alt="">

                                </a>

                            <td>
                                <a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador">

                                    <img class="yellow-edit " src="~/assets/edit.png" alt="">

                                </a>
                            </td>
                        </tr>
                    }



                </tbody>

            </table>
        }


    </section>
</main>
